* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.container {
    display: grid;
    grid-template: repeat(7, 1fr)/ repeat(7, 1fr);
    grid-gap: 10px 10px;
    padding: 50px;
}

.base {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

.exponent {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
}

.product {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

.calculator {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}
